// Footer styles
footer	
	#footer-container
		overflow: hidden
		background: $footer-bg
		font-size: 0.8em 
		//color: #FFF
		.footer-widgets

			display: flex
			//justify-content: space-around
			padding: $gutter-20 / 2	 
			
			.footer-widget
				//display: flex
				width: 100%
				margin:  0 0 auto
				//justify-content: center
				//align-items: start
				&:nth-child(n)
					text-align: center
				&:first-child
					text-align: left
				&:last-child
					text-align: right

				table
					margin: auto 

		#copyright
			//background: $body-bg
			padding: $gutter-20 / 2
			text-align: center
			
#site-footer
	display: block
	width: 100%
	z-index: 1
// <!-- End Footer -->