// Header styles
#site-header
	width: 100% 
	height: $header-height
	background-color: $header-bg

	#top-bar
		background-color: $top-bar-bg
		display: flex
		padding: 
			left: 0
			right: 0
		
		.widget
			width: 100%
			margin:  0 $gutter-20 / 2 auto
			&:nth-child(n)
				text-align: center
			&:first-child
				text-align: left
			&:last-child
				text-align: right
										
	#header-container
		display: flex
		justify-content: space-between

	
	&.branding-right
		flex-direction: row-reverse
		
	&.branding-center
		flex-direction: column
										
	#branding
		display: flex
		width: $logo-width
		margin: $gutter-20/2 0 auto


		&.align-center
			margin-bottom: $gutter-20/2
			a
				justify-content: center

		&.align-right
			flex-direction: row-reverse


		&.align-vertical
			flex-direction: column

			a
				justify-content: center
				
			#branding-logo,
			#branding-title
				@include push--auto 

			
		#branding-logo
			margin: auto 0
			//padding: 0 $gutter-20/2
			width: auto 

			img
				@extend %img

		#branding-title
			margin: auto 0
			padding: 0 $gutter-20/2
			a
				display: flex

			.site-title
				margin: 0
				line-height: 1
				font-size: 2em
				text-transform: uppercase
			.site-description
				font-size: 1em 

	&.nav-below-logo
		height: #{strip-units($header-height) + strip-units($nav-height)}px
		#header-container
			flex-wrap: wrap-reverse

	&.nav-above-logo
		height: #{strip-units($header-height) + strip-units($nav-height)}px
		#header-container
			flex-wrap: wrap

			
	&.nav-inline-logo
		#header-content
			display: flex
			flex-wrap: wrap
			flex: auto

	&.bounded
		.container
			padding-left: 0
			padding-right: 0
			
		ul.menu
			@extend .bounded

	#nav-menu
		margin-left: 10px
		//float: left
		
	#nav-search
		@extend #nav-menu

	#header-content
		&.burger-menu
			display: inline-block
			.widget
				float: left

@import navigation
// <!-- End Header -->
