// Header styles
#site-header
	width: 100% 
	height: $header-height
	background-color: $header-bg

										
	#header-container
		display: flex
		justify-content: space-between

	
	&.branding-right
		flex-direction: row-reverse
		
	&.branding-center
		flex-direction: column
										
	#branding
		display: flex
		margin: $gutter-20/2 0 auto


		&.align-center
			margin: $gutter-20/2 auto
			
			a
				justify-content: center

		&.align-right
			flex-direction: row-reverse


		&.align-vertical
			flex-direction: column

			a
				justify-content: center
				
			#branding-logo,
			#branding-title
				@include push--auto 

			
		#branding-logo
			margin: auto 0
			//padding: 0 $gutter-20/2
			width: $logo-width

			img
				@extend %img

		#branding-title
			margin: auto 0 -20px
			padding: 0 $gutter-20
			color: $branding-link-color 
			width: $logo-width * 1.6
			a
				display: flex
				color: $branding-link-color 

			.site-title
				margin: 0
				line-height: $base-line-height
				font-size: 1.6em
				font-weight: normal
				letter-spacing: 1.2px
				//text-transform: uppercase
			.site-description
				font-size: 1em
				letter-spacing: 0.5px
				margin-top:  $base-line-height * 0.2

	&.nav-below-logo
		height: #{strip-units($header-height) + strip-units($nav-height)}px
		#header-container
			flex-wrap: wrap-reverse

	&.nav-above-logo
		height: #{strip-units($header-height) + strip-units($nav-height)}px
		#header-container
			flex-wrap: wrap

			
	&.nav-inline-logo
		#header-content
			display: flex
			flex-wrap: wrap
			flex: auto

	&.bounded
		.container
			padding-left: 0
			padding-right: 0
			
		ul.menu
			@extend .bounded

	#nav-menu
		margin-left: 10px
		//float: left
		
	#nav-search
		@extend #nav-menu

	#header-content
		&.burger-menu
			display: inline-block
			.widget
				float: left

@import navigation
// <!-- End Header -->
