// Main styles
#main
	position: relative
	display: block
	width: 100%
	clear: both
	background-color: $main-bg 
	flex: auto
	z-index: 2 
	
	&.bounded

			
	&.left-sidebar
		#main-container
			flex-direction: row-reverse 
			
	#main-header
		position: relative
		display: flex
		background-color: $header-bg

		.site-branding
			display: flex
			margin: auto
			opacity: 0
			transition: all 1.2s ease-out
			+media-breakpoint-down(xs)
				flex-direction: column
				align-items: center
				//margin-bottom:  $header-height / 2
				.branding-title
					text-align: center
					
			.site-logo
				width: $logo-big-width
				height: $logo-big-width + 35px
				margin-bottom: auto
				+media-breakpoint-down(xs)
					height: $logo-big-width + 15px
				img
					@extend %img

			.branding-title
				width: $logo-big-width  
				margin: auto 20px 0
				color: #FFF
				letter-spacing: 0.5px

				h1.site-title
					margin-bottom: 0.2em
					font-weight: normal 
					color: #FFF

				.site-description
					font-size: 1.33em

	&.nav-inline-logo
		#main-header
			height: calc-height($header-height, $top-bar-height)
			padding-bottom: $header-height / 2
			&.hidden
				transition: all 500ms linear, opacity 300ms 300ms linear
				height: 0
				padding-bottom: 0

					

	#main-container
		display: flex
		max-width: $container_max-w 
		//padding: $gutter-20*2 0
		//background-color: $main-bg
		.icon
			border-radius: 50%
			border: 1px solid
		
		.breadcrumbs
			margin-bottom: $gutter-20 * 2
			font-size: .8em   
			
		#content
			float: left
			width: 100%
			//padding: 0 $gutter-20
			background-color: $content-bg
			
			&.float-left
				width: $content-width
				margin-right: $gutter-20/2
				
			&.float-right
				margin-left: $gutter-20/2

			&.search
				margin-top: $gutter-20
				>div, >header
					+media-breakpoint-up(lg)
						padding-left: 0
						padding-right: 0
				.search-query
					display: inline-block
					margin: $gutter-20 0
					color: $base-text-color
					//border: 1px solid $theme-color 
					letter-spacing: 0.5px 
					span
						margin-left: 5px
						font-weight: 600
						text-decoration: underline

			article
				padding-top: $gutter-20
				padding-bottom: $gutter-20 * 2
				opacity: 0
				transition: opacity 1.5s ease-out

				&.animate
					&.visible:not(:first-child())
						@include animation(article, .8s .2s ease-in-out both, no-fade, 0, 300px )	

				&:nth-child(odd)
					background-color: $main-bg 
				&:nth-child(even)
					background-color: $main-2-bg

				+media-breakpoint-down(sm)
					padding-top: $gutter-30
					padding-bottom: $gutter-30

				+media-breakpoint-down(xs)
					padding-top: $gutter-20
					padding-bottom: $gutter-20
						
				.title
					text-align: center
					padding: $gutter-20 0
					+media-breakpoint-down(xs)
						padding-bottom: 0


				.member-container
					margin: $gutter-20 0
					//overflow: hidden
					img
						display: block
						@extend %img
						max-width: 300px
						margin: auto
						border-radius: 50%
						background-color: $base-shadow-color
						//opacity: 0.1
						transition: opacity 800ms ease-out 
						&.loaded
							box-shadow: 0 18px 36px -10px $base-shadow-color
							opacity: 1

					.member-title
						+media-breakpoint-down(lg)
							font-size: 1.3em
						+media-breakpoint-down(md)
							font-size: 1.2em
						+media-breakpoint-down(sm)
							font-size: 1.6em
						+media-breakpoint-down(xs)
							font-size: 1.8em
							
					+media-breakpoint-up(md)
						flex: 0 0 20%
						max-width: 20%
					
				.member-title
					display: inline-block
					width: 100%
					//margin: 0.6em 0
					text-align: center

			>*
				padding-left: $gutter-20 * 2
				padding-right: $gutter-20 * 2
				+media-breakpoint-down(sm)
					padding-left: $gutter-30
					padding-right: $gutter-30
				+media-breakpoint-down(xs)
					padding-left: $gutter-20 / 2
					padding-right: $gutter-20 / 2
									
			#documents-content
				display: flex
				justify-content: center
				margin-bottom: $gutter-20
				+media-breakpoint-down(xs)
					margin-bottom: $gutter-20
				 		
				.document-link
					width: 100% 
					margin: 0  $gutter-20 / 2
					padding: $gutter-20
					text-align: center
					background-color: transparentize($main-bg, 0.1)
					box-shadow: 0 0 10px #eee
					border-radius: 3px
					i
						font-size: 2.2em
					h2
						font-size: 1.2em
						line-height: 1.3
						color: $base-text-color 

				+media-breakpoint-down(sm)
					flex-direction: column
					.document-link
				 		margin: $gutter-20 / 4 0

			#about-content
				text-align: justify
				a
					display: inline-block
				+media-breakpoint-down(xs)
					span
						display: block
						margin-bottom: 1.5em
			#news-content
				.entry-summary
					a
						margin: 0 auto $gutter-20
						width: 100%

			#contacts
				padding: $gutter-30 0
				@extend #contacts-content
			#contacts-content
				text-align: center
		 
			.goto-back
				display: inline-block
				a
					display: flex
					margin-right: auto
					align-items: center
					span
						margin: 0 $gutter-20/2
				
		#main-sidebar
			width: 25%
			float: left
			padding: $gutter-20/2
			background-color: $sidebar-bg 
			border: 1px solid $border-color
			box-sizing: border-box

.entry-content
	margin-bottom: $gutter-20
	img
		width: auto
		//max-width: unset
		+media-breakpoint-down(xs)
			width: 100%

	li
		@extend p
		list-style-type: square
		margin: $base-line-height/2 0 0
		
	.price-expire
		font-size: 0.8em
		text-align: right
	
	table
		tbody
			vertical-align: baseline
			tr:first-child
				background-color: darken(white, 5%) 
			td
				padding: 10px
				&:last-child
					text-align: right
					width: 150px 
					min-width: 100px 

.page
	.entry-content
		>img
			width: auto !important
			max-height: 100px
			max-width: 100% 
	
nav
	.post-navigation
		padding: $gutter-20 0
		.screen-reader-text
			display: none
		.nav-links
			display: inline-block
			width: 100%
			.nav-previous
				float: left

			.nav-next
				float: right
				+media-breakpoint-down(xs)
					border-right: 3px solid

			div
				a
					display: flex
					align-items: center
					transition: color 100ms ease
					span:not(.meta-nav)
						padding: 5px
						text-transform: uppercase

				.meta-nav
					display: inline-block



		
// <!-- End Main -->
