// Main styles
main
	position: relative
	width: 100% 
	flex: auto
	@include push--auto
	clear: both
	
	&.bounded

			
	&.left-sidebar
		#main-container
			flex-direction: row-reverse 
			
	#main-header
		position: relative
		display: flex
		background-color: $header-bg
		
		.site-branding
			display: flex
			margin: auto
			opacity: 0
			transition: opacity 200ms ease
			
			.site-logo
				width: $logo-big-width
				height: $logo-big-width + 35px
				margin-bottom: auto
				img
					@extend %img
			
			.branding-title
				width: $logo-big-width  
				margin: auto 20px 0
				color: #FFF
				letter-spacing: 0.5px
				
				h1.site-title
					margin-bottom: 0.2em
					font-weight: normal 
					color: #FFF
					
				.site-description
					font-size: 1.33em

	&.nav-inline-logo
		#main-header
			transition: height,padding 0.3s ease-out
			height: 0
			
			&.visible
				height: calc-height($header-height, $top-bar-height)
				padding-bottom: $header-height / 2
				
				.site-branding
					transition: opacity 0.5s 0.3s ease-out
					opacity: 1
				
		 
	#main-container
		display: flex
		max-width: $container_max-w 
		padding: 
			top: $gutter-20*2
			bottom: $gutter-20*2
		//background-color: $main-bg
		
		.breadcrumbs
			margin-bottom: $gutter-20 * 2
			font-size: .8em   
			
		#content
			float: left
			width: 100%
			//padding: 0 $gutter-20
			background-color: $content-bg
			
			&.float-left
				width: $content-width
				margin-right: $gutter-20/2
				
			&.float-right
				margin-left: $gutter-20/2

			article
				padding:  $gutter-30 0
				opacity: 0
				transition: opacity 1.5s ease-out
				&.animate
					&.visible:not(:first-child())
						@include animation(article, .8s .2s ease-in-out both, no-fade, 0, 300px )	

				&:nth-child(odd)
					background-color: $main-bg 
				&:nth-child(even)
					background-color: $main-2-bg
					
				.title
					text-align: center
					padding: $gutter-20

				#members-content
					.member-container
						margin: $gutter-20 0
						overflow: hidden
						
					img
						display: block
						@extend %img
						border-radius: 50%
						background-color: grey
						opacity: 0.1
						transition: opacity 800ms ease-out 
						&.loaded
							opacity: 1
						
					.member-title
						display: inline-block
						width: 100%
						margin: $gutter-20 0
						text-align: center
				
			#documents-content
				.document-link
					display: table
					@include push--auto

			#about-content
				margin: 0 $gutter-30
				a
					display: inline-block

			#news-content
				.entry-summary
					a
						margin: 0 auto $gutter-20
						width: 100%

			#contacts
				padding: $gutter-30 0
				@extend #contacts-content
			#contacts-content
				text-align: center

		#main-sidebar
			width: 25%
			float: left
			padding: $gutter-20/2
			background-color: $sidebar-bg 
			border: 1px solid $border-color
			box-sizing: border-box

.entry-content
	div,p
		margin-top: $gutter-20
	li
		@extend p
		list-style-type: square

	.price-expire
		font-size: 0.8em
		text-align: right
	
	table
		tbody
			vertical-align: baseline
			tr:first-child
				background-color: darken(white, 5%) 
			td
				padding: 10px
				&:last-child
					text-align: right
					width: 150px 
					min-width: 100px 

nav
	.post-navigation
		padding: $gutter-20 0
		.screen-reader-text
			display: none
		.nav-links
			display: inline-block
			width: 100%
			.nav-previous
				float: left
			.nav-next
				float: right
			div
				padding: 5px 0
				&:hover
					transition:  200ms all linear
					border-bottom: 3px solid $link-color-hover
				.meta-nav
					display: inline-block
// <!-- End Main -->
