
@media (max-width: map-get($grid-breakpoints,sm))
	html
		font-size: 14px
		
@media ( max-width: map-get($grid-breakpoints,sm)) and (orientation:portrait)
	#main
		#main-header
			.site-branding
				flex-direction: column
				align-items: center
				//margin-bottom:  $header-height / 2
				.site-logo
					//margin-bottom: unset  !important
				.branding-title
					//margin: unset !important
					text-align: center

										
@media ( max-width: map-get($grid-breakpoints,sm)) and (orientation:landscape)
	#main
		#main-header
			.site-branding
				.site-logo
					//width: 160px !important
				.branding-title
					//width: 130px !important
					//margin: auto 0 0 !important 
					//font-size: 0.8em
					display: none
