
@media (max-width: map-get($grid-breakpoints,sm))
	html
		font-size: 14px
		
@media ( max-width: map-get($grid-breakpoints,sm)) and (orientation:portrait)
	#main
		#main-header
			.site-branding
				flex-direction: column
				align-items: center
				.branding-title
					//margin: unset !important
					text-align: center

										
@media ( max-width: map-get($grid-breakpoints,sm)) and (orientation:landscape)
	#main
		#main-header
			.site-branding
				.branding-title

					display: none
