@media (max-width: 575px)
	#members-content
		.member-container
			.member-title
				font-size: 1.8em

@media (min-width: 576px)
		
	#members-content
		.member-container
			flex: 0 0 20%
			max-width: 20%
			.member-title
				font-size: 1.1em

@media (min-width: 768px)
		
	#members-content
		.member-container
			flex: 0 0 20%
			max-width: 20%
			.member-title
				font-size: 1.2em

@media (min-width: 992px)
		
	#members-content
		.member-container
			flex: 0 0 20%
			max-width: 20%
			.member-title
				font-size: 1.3em

@media (min-width: 1200px)
		
	#members-content
		.member-container
			flex: 0 0 20%
			max-width: 20%
			.member-title
				font-size: 1.5em
			
