@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss" // Bootstrap Breakpoints mixin
// @import "../../node_modules/bootstrap/scss/bootstrap-grid.scss" // Bootstrap Grid
// @import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss" // Bootstrap Reboot collection
// @import "../../node_modules/bootstrap/scss/utilities/_sizing.scss" // Optional Bootstrap Utilites
// @import "../../node_modules/normalize.css/normalize.css" // CSS library plug-in example (npm i --save-dev normalize.css)

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss

// Bootstrap compatible gutter variable => $gutter

// Lazy Load Placeholder built by HTML generator (https://webdesign-master.ru/services/lazy/)
//background-image: url(data:image/gifbase64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

@import mixins
@import fonts
@import vars

html
	@include font-settings(Roboto Condensed, $base-text-color, 1rem, false, false, $base-line-height)
	//display: inline-table
	position: relative
	width: 100%
	font-size: $base-font-size
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%
	-webkit-font-smoothing: antialiased
	+media-breakpoint-down(md)
		overflow: scroll
		overflow-x: hidden
		::-webkit-scrollbar
			//width: 0px  /* remove scrollbar space */
			background: transparent  /* optional: just make scrollbar invisible */
	+media-breakpoint-down(sm)
		font-size: 14px

body
	//position: relative
	//opacity: 0
	display: flex
	flex-direction: column
	min-height: 100vh
	//min-width: 320px
	//width: 100%
	 
	margin: 0
	background-color: $body-bg
	overflow-x: hidden
	&:not(.home)
		.container
			margin-top: $gutter-20
			
h1 
	font: normal bold 2.4em/1.2 $base-font-family, Arial
	margin: 0 0 20px 0
	color: $page-title-color 
	letter-spacing: -0.5px


h2  
	font: normal normal 1.6em/1.2 $base-font-family, Arial
	margin: 1em 0


h3 
	font: normal bold 1.4em/1.2 $base-font-family, Arial
	margin: 0 0 0.5em 0
	letter-spacing: -0.5px


h4 
	font: normal bold 1.3em/1.2 $base-font-family, Arial
	margin: 0 0 0.5em 0


h5 
	font: normal bold 1.2em/1.1 $base-font-family, Arial
	margin: 0 0 0.5em 0

a
	//display: block
	text-decoration: none
	cursor: pointer
	//font-weight: bold
	color: $link-color
	&:hover
	 	color: $link-color-hover
	 	
li
	list-style-type: none /* Убираем глобально маркеры */
ul
	margin: 0
	padding-bottom: 1em
pre
	margin: 0
	padding: $gutter-20 $gutter-20 / 2
	font-family: inherit
	font-size: 1em 
	letter-spacing: 1px
	background-color: $main-2-bg

%img
	width: 100%
	height: auto

// Avoid empty images to appear as broken
img:not([src]):not([srcset])
	visibility: hidden
		

.container
	@include push--auto
	margin-bottom: $footer-height * 4
	max-width: $container_max-w 
	padding-left: 0 !important 
	padding-right: 0 !important
		

.align-left
	justify-content: flex-start
	//align-items: flex-start
	
.align-center
	justify-content: center		
	//align-items: center

.align-right
	justify-content: flex-end
	//align-items: flex-end

.hidden
	opacity: 0 //!important
	
.visible
	opacity: 1 !important

.show
	display: flex !important

.modal
	position: fixed
	width: 100% 
	overflow-y: hidden	
	
@import media
@import header
@import main
@import footer
@import controls
@import reset