/node_modules/
/.git/
/**/Thumbs.db
/**/*.DS_Store
/resources/
/backup/
/media/
**/wp-config.php
**/sftp-config.json
*.sublime-project
*.sublime-workspace
/src/wordpress
/src/wp-content
!/src/wp-content/themes/
/src/img/
