/node_modules/
/.git/
/**/Thumbs.db
/**/*.DS_Store
/resources/
/backup/
/src/wordpress/
/src/wp-config.php
/src/wp-content/uploads/
/src/wp-content/plugins/
gulpfile.js
*.sublime-project
*.sublime-workspace